/***** Base Styles *****/

body {
	font-family: Montserrat, Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: black;
	margin: 5px;
	padding: 20px;
}


p {
	padding: 30px 0px;
	line-height: 21px;
	font-size: 14px;
	text-align: left;
}

/***** Grid *****/

.full-width {
	width: 1200px;
	margin: 0 auto;
}

.half-width {
	width: 600px;
	float: left;
}

.third-width {
	height: 350px;
	width: 398px;
	float: left;
	border-top: 1px solid #eee;
}

/***** Header *****/

header	{
	height: 180px;
	width: 100%;
	margin: 0 auto;
}

header h1 {
	padding: 20px 0;
	font-size: 40px;
	color: black;
	text-transform: uppercase;
}

header h1 span {
	color: #77a466;
}

nav {
	float: right;
	padding: 45px 0;
}

header nav a {
	display: inline-block;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	color: #77a466;
	padding-left: 10px;
}

/***** Intro *****/

#intro {
	width: 100%;
	height: auto;
}

#intro h2 {
	color: #8cff66;
	font-family: Verdana, Geneva, sans;
	font-size: 28px;
	padding: 10px 0;
	text-align: left;
	text-transform: uppercase;
}

#intro p {
	text-align: auto;
	float: left;
}

/***** Content - Specials, Reviews, Contact *****/

img {
	height: 300px;
	width: 1200px;
	border-bottom: 3px solid #77a466;
	border-top: 3px solid #77a466;
}

#info {
	height: 350px;
}

#info h4 {
	font-size: 18px;
	color: black;
	text-align: left;
	padding: 10px;
}	

#info p {
	line-height: 25px;

}


#specials h4 {
	padding: 10px 0px
}

#specials {
	list-style: none;
	padding: 0px;
}

#specials li {
	padding: 10px 0;
	color: #77a466;
}

#reviews p {
	padding: 10px;
	text-align: left;
	color: #333;
}

#specials,
#reviews {
	border-right: 1px solid #eee;
}

#specials, 
#reviews,
#contact {
	height: auto;
}


#contact p {
	text-align: left;
	line-height: 20px;
	font-size: 14px;
	padding: 0px;
}



/***** Footer *****/

footer {
	font-family: Verdana, Geneva, sans;
	font-size: 24px;
	padding: 50px;
	text-align: center;
	text-transform: uppercase;
	height: 50px;
	width: 100%;
	border-top: 3px solid #eee;
}

footer span {
	font-family: 'Pacifico', cursive;
	color: #77a466;
	text-transform: lowercase;
	font-size: 14px;
}
	